.pdfFrame{
	position:absolute;
	width:1000px;
	height:600px;
	left:50px;
	top:100px;
	margin:0;
	padding:0;
}

.editFrame{
	margin:0;
	padding:0;
	position:absolute;
	width:1000px;
	height:600px;
	left:50px;
	top:100px;
	text-align:center;
	display:none;
}

.editOuterContainer{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}


.editToolbar{
	margin:0;
	padding:0;
	position:fixed;
	background-color:rgba(255,53,120,0.3);
	overflow:auto;
}

.editDiv{
	margin:0;
	padding:0;
	position:absolute;
	overflow:auto;
	width:100%;
	text-align:center;
}
.editCanvas{
	margin-left:10px auto;
	margin-right:10px auto;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	position:absolute;
	background-color:rgba(60,255,120,0.3);
}
.editCanvas:hover {
cursor:crosshair;
}

/* 展开的笔记块 */
.NoteWrap{
	background-color:rgba(0,0,0,0.4);
	width:300px;
	height:150px;
	position:absolute;
	display:inline;
}

/* 折叠笔记块 */
.NoteWrapFold{
	background-color:rgba(0,0,0,0.4);
    width:80px;
    height:50px;
    position:absolute;
    display:inline;
    overflow:hidden;
}


.labelTitle{
	background:#00aa55 url("../images/labelTitle.png") no-repeat center !important;
	background-size:30% 30%;
	display:inline;
	width:80px;
	height:50px;
	float:left;
}

.labelTitle:hover{
	cursor:pointer;
}

.textAreaContainer{
	width:220px;
    height:150px;
    display:inline;
    float:left;
}

.labelText{
/* 	background-color:rgba(255,255,255,1); */
	width:100%;
    height:100%;
    font-size:26px; 
    color:#f3340c;
    line-height:28px;
    
}

.cancelBtn{
	background:url("../images/cancelBtn.png") no-repeat right center !important;
	position:absolute;
	right:-10px;
	top:-10px;
	width:30px;
	height:30px;
	z-index:99;
}

.cancelBtn:hover{
	cursor:pointer;
}



html{
	margin:0;
	paddin:0;
	text-align:center;
	width:100%;
	height:100%;
}

body{
	margin:0;
	paddin:0;
	text-align:center;
	width:100%;
	height:100%;
}
